---
import Layout from "../layouts/Page.astro";
---

<Layout>
  <p>
    Este es sitio fue elaborado a partir de las notas tomadas en el curso de
    Física 1Q del Departamento de Física de la Facultad de Ciencias Exactas y
    Naturales de la Universidad de Buenos Aires durante el primer cuatrimestre
    del año 2023.
  </p>
  <br />
  <p>
    El material de lectura de este espacio no pretende reemplazar a las fuentes
    principales que inspiraron su construcción y que se encuentran anexadas en
    cada uno de los artículos.
  </p>
  <br />
  <p>
    Se ínsita al lector a complementar estos resúmenes con la bibliografía
    recomendada en el sitio principal de la materia, guías de ejercicios y
    apuntes personales.
  </p>
  <br />
  <p>
    Vale la pena aclarar que esta página no tiene relación alguna con la
    Universidad de Buenos Aires. No se trata de un sitio oficial y queda bajo
    criterio del lector adoptar o no, las definiciones o conceptos aquí
    mencionados.
  </p>
  <br />
</Layout>
