---
import Link from "./Links/LinkNavMain.astro";
---

<footer class="flex space-x-6 justify-center py-4 border-t-2 border-tertiary">
  <a href="mailto:blancojoaquin77@gmail.com">Make with ❤️ by Joacko B.</a>
</footer>
