---
import Link from "./Links/LinkNavMain.astro";
---

<nav
  class="flex space-x-6 justify-center my-4 border-b-2 pb-4 border-b-tertiary"
>
  <Link href="/">Reciente</Link>
  <Link href="/about">Sobre este sitio</Link>
  <Link href="/blog">Resumenes</Link>
</nav>
